<div class="card-footer text-muted  mt-4 bg__main-primary">
    <div class="container">
        <footer class="footer">
            <div class="grid wide footer__content">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 oder-lg-3 mb-lg-0 mb-4>
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tập trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Thương mại</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn bán hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Thanh toán</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Vận chuyển</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trả hàng & hoàn tiền</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính sách bảo hành</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 oder-lg-3 mb-lg-0 mb-4>
                        <h3 class="footer__heading">Về chúng tôi</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Giới thiệu về chúng tôi</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Điều khoản</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính sách bảo mật</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính hãng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Kênh người bán</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chương tình tiếp thị liên kết</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Liên hệ với truyền thông</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 oder-lg-3 mb-lg-0 mb-4>
                        <h3 class="footer__heading">Thanh toán</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Visa</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính sách trả góp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">ATM</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 oder-lg-3 mb-lg-0 mb-4>
                        <h3 class="footer__heading">Theo dõi chúng tôi trên</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="https://www.facebook.com/stingdau140891/" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-facebook"></i> Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-instagram"></i> Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-linkedin"></i> Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="footer__bottom">
                <div class="grid wide">
                    <p class="footer__text">Copyright © 2019 Bản quyền thuộc về supergoon23102019</p>
                </div>
            </div>
        </footer>
    </div>
</div>
{{!-- <footer class="bg-light pt-4 pb-7">
    <div class="container">
        <div class="row justify-content-md-between">
            <div class="col-lg-3 col-sm-6 oder-lg-3 mb-lg-0 mb-4">
                <h3 class="h5 mb-4">Theo dõi chúng tôi trên</h3>
                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action mb-4" href="">Trung tập trợ giúp</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 oder-lg-3 mb-lg-0 mb-4">
                <h3 class="h5 mb-4">Theo dõi chúng tôi trên</h3>
                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action mb-4" href="">Trung tập trợ giúp</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 oder-lg-3 mb-lg-0 mb-4">
                <h3 class="h5 mb-4">Theo dõi chúng tôi trên</h3>
                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action mb-4" href="">Trung tập trợ giúp</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 oder-lg-3 mb-lg-0 mb-4">
                <h3 class="h5 mb-4">Theo dõi chúng tôi trên</h3>
                <div class="list-group list-group-flush list-group-transparent">
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action" href="" >Trung tập trợ giúp</a>
                    <a class="list-group-item list-group-item-action mb-4" href="">Trung tập trợ giúp</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="grid wide">
            <p class="footer__text">Copyright © 2019 Bản quyền thuộc về supergoon23102019</p>
        </div>
    </div>
</footer> --}}

