<nav class="navbar navbar-dark bg-dark mt-4">
  <form class="form-inline" method="GET">
    <input class="form-control mr-sm-2"type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0"  name="q" type="submit">Search</button>
  </form>
</nav